* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none; 
    text-decoration: none;
    
}


:root {
    --primary--colo: #FF9209;
    --text-pri: #3F3F3F;
    --bg-card: #fff;
    --bg-card-second: #ffffffab;
    --text-para: #808080;
}


body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 375px;
    height: 812px;

}

.fContainer {
    width: 375px;
    height: 812px;

}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.wrapper img{
    width: 100%;
    height: 70%;
    top: 0;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
}

.cta {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: white; */
    padding: 0px 20px;
    align-items: center;
    text-align: center;
  
}

.cta h1 {
    font-size: 20px;
}

.cta p {
    font-size: 16px;
}

.cta button {
    width: 100%;
    padding: 20px;
    background-color: var(--primary--colo);
    color: var(--bg-card);
    font-size: 16px;
    font-weight: bolder;
    border: 10px;
    border-radius: 4px;
}


.card-list {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    overflow-y: scroll;
}

.card {
    margin: 10px;
    margin-bottom: 20px;   
    display: flex;
    padding: 12px;
    border-radius: 6px;
    align-items: center;
    background-color: var(--bg-card-second);
    box-shadow: -9px 7px 19px -6px rgba(0,0,0,1);
    
}
.card:first-child {
    margin-top: 10%;

    
}

.card img {
    border-radius: 12px;
    width: 50%;
}


.desc {
    margin-left: 10px;
}


.desc p {
    font-size: 12px;
    text-align: justify;

}


.bg-main {
    position: absolute;
    width: 375px;
    height: 812px;
    top: 0;
    z-index: -99;
}


#btnFloat {

    padding: 20px;
    background-color: var(--primary--colo);
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -9px 7px 19px -6px rgba(0,0,0,1);

}


/* popup search */

.popdisplay {
    display: none;

    
 
}

#close {
    display: flex;
    padding: 20px;
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 90%;
    left: 45%;
    border: none;
    background-color: beige;
    font-weight: bold;
    opacity: .8;
    box-shadow: -9px 7px 19px -6px rgba(0,0,0,1);
}

.pop {
    display: flex;
    padding: 20px 4px;
    border-radius: 12px;
    background-color: white;
    color: black;
    width: 270px;
    position: absolute;
    z-index: 99;
    top: 10%;
    left: 15%;
    align-items: center;
    box-shadow: -9px 7px 19px -6px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pop button {
    margin-top: 30px;
    
}

.popdisplay input {
    width: 80%;
    padding: 12px 4px;
    margin-bottom: -12px;
    /* margin-left: 10px; */
    border-radius: 12px;
    /* border: 1px solid var(--primary--colo); */

    
}


#btn {
    display: flex;
}

#btn , #search, #clear {
    padding: 12px;
    border: 0;
    width: 80%;
    gap: 6px;

}

.listCard {
    opacity: .5;
}



.data {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    gap: 6px;
}

.data a {
    font-size: 14px;
}